@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;600&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    background-color: hsl(212, 45%, 89%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: 15px;
    height: 600px;    
}
h2{
    color:  hsl(218, 44%, 22%);
    width: 100%;
}
p{    
    color: rgb(104, 104, 104);
    padding-bottom: 20px;
}
.article{
    background-color: #fff;
    border-radius: 20px;
    margin-top: 40px;
    margin-right: 40%;
    margin-left: 40%;
    width: auto;
    height: 500px;
}
.article_body {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.article_text{
    width:280px;
    text-align: center
}
.article_header img {
    border-radius: 15px;
    margin-bottom: 10px;
    width: 100%;
}